        @keyframes einblendung {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            60% {
                transform: scale(1.0);
                opacity: 1;
            }

            80% {
                transform: scale(1.1);
                opacity: 1;
            }

            100% {
                transform: scale(1.0);
                opacity: 1;
            }
        }

        @keyframes einblendung-schrift {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            60% {
                transform: scale(1.0);
                opacity: var(--text-opacity);
            }

            80% {
                transform: scale(1.1);
                opacity: var(--text-opacity);
            }

            100% {
                transform: scale(1.0);
                opacity: var(--text-opacity);
            }
        }

        @keyframes ausblendung {
            0% {
                transform: scale(1, 1);
                opacity: 1;
            }

            100% {
                transform: scale(1, 0);
                opacity: 0;
            }
        }

        @keyframes smoothmove {
            0% {
                transform: scale(0.0);
            }

            100% {
                transform: scale(1.0);
            }
        }

        @keyframes anim-small {
            0% {
                transform: scale(0.0);
                opacity: 0;
            }

            80% {
                transform: scale(0.0);
                opacity: 0;
            }

            95% {
                transform: scale(1.2);
                opacity: 1;
            }

            100% {
                transform: scale(1.0);
                opacity: 1;
            }
        }

        @keyframes anim-smaller {
            0% {
                transform: scale(1.0);
                opacity: 1;
            }

            10% {
                transform: scale(0.95);
                opacity: 1;
            }

            100% {
                transform: scale(0.5);
                opacity: 0;
            }
        }

        @keyframes anim-open-eyes {
            0% {
                transform: scale(0, 0);
            }

            1% {
                transform: scale(1, 0);
            }

            100% {
                transform: scale(1, 1);
            }
        }

        @keyframes anim-eyes-twinkle {
            0% {
                transform: scale(1, 1);
            }

            100% {
                transform: scale(1, 0.8);
            }
        }

        @keyframes anim-close-eyes {
            0% {
                transform: scale(1, 1);
            }

            100% {
                transform: scale(1, 0);
            }
        }


        #sign {
            --d: 450px;
            --r: 0.02;
            --text-opacity: 0.0;
            --face-opacity: 1.0;

            --eye-size: 2.1;
            --eyes-width: calc(var(--d) * 0.11);
            --mouth-size: 0.2;
            --upper: 0.0;
            --lower: 0.0;

            --small-icon: calc(var(--d)*0.07);
            --ru: calc(var(--r) - var(--upper));
            --rl: calc(var(--r) - var(--lower));
            --upper-offset: calc(var(--d) * (1 + var(--mouth-size)) / -2);
            --mid-offset: calc(var(--upper-offset) + var(--d)*var(--mouth-size)*var(--upper)/2);
            --lower-offset: calc(var(--mid-offset) + var(--d) * (var(--mouth-size) * (1 - var(--lower)/2)));

            --eyesY: calc(var(--d) * (-0.63 - var(--eye-size) * 0.1));
            --eyeLeftX: calc(var(--d) * 0.315);
            --eyeRightX: calc(var(--d) * 0.6);
            --pup-d: calc(var(--eyes-width) / 1.7);
            --pupY: calc(var(--eyesY) + var(--d) * 0.05 * var(--eye-size) - var(--pup-d)/2);
            --pupLeftX: calc(var(--eyeLeftX) + var(--eyes-width)/2 - var(--pup-d)/2);
            --pupRightX: calc(var(--eyeRightX) + var(--eyes-width)/2 - var(--pup-d)/2)
        }


        #toolbar {
            width: var(--d);
        }


        #signBackground {
            position: relative;
            animation: einblendung 1s;
            transition: background-color 1.1s;
            width: var(--d);
            height: var(--d);
            border-radius: calc(var(--d) / 2);
            align-items: center;
            justify-content: center;
            background-color: red
        }

        #domainSolo2 {
            text-align: center;
            font-size: calc(var(--d) / 12);
        }

        #upperLipp {
            position: absolute;
            animation: smoothmove 1s;
            width: calc(var(--d) * 0.8);
            height: calc(var(--d) * var(--mouth-size) * var(--upper));
            border-radius: calc(var(--d) * 0.4) / calc(var(--d) * var(--mouth-size) * 0.5 * var(--upper));
            margin-left: calc(var(--d) * 0.1);
            margin-top: calc(var(--upper-offset));
            opacity: var(--face-opacity);
            background-color: white
        }

        #lowerLipp {
            position: absolute;
            animation: smoothmove 1s;
            width: calc(var(--d) * 0.8);
            height: calc(var(--d) * var(--mouth-size) * var(--lower));
            border-radius: calc(var(--d) * 0.4) / calc(var(--d) * var(--mouth-size) * 0.5 * var(--lower));
            margin-left: calc(var(--d) * (0.1));
            margin-top: var(--lower-offset);
            opacity: var(--face-opacity);
            background-color: white
        }

        #whiteBar {
            position: absolute;
            animation: smoothmove 1s;
            width: calc(var(--d) * 0.8);
            height: calc(var(--d) * var(--mouth-size));
            margin-left: calc(var(--d)*0.1);
            margin-top: var(--mid-offset);
            border-top-left-radius: calc(var(--d) * var(--ru));
            border-top-right-radius: calc(var(--d) * var(--ru));
            border-bottom-left-radius: calc(var(--d) * var(--rl));
            border-bottom-right-radius: calc(var(--d) * var(--rl));
            background-color: white
        }

        #reminder {
            padding: 0.5me;
            display: table-cell;
            vertical-align: center;
            line-height: normal;
            font-family: serif;
            text-align: center;
            margin: auto;
        }

        #reminderEntrybox {
            padding: 0.5me;
            background-color: var(--enter-color);
            display: table-cell;
            vertical-align: center;
            line-height: normal;
            font-family: serif;
            text-align: center;
            margin: auto;
        }

        .lines1 {
            font-size: calc(var(--d) * 0.15);
            vertical-align: center;
            text-align: center;
        }

        .lines2 {
            font-size: calc(var(--d) * 0.08);
            vertical-align: center;
            text-align: center;
        }

        .lines3 {
            font-size: calc(var(--d) * 0.053);
            vertical-align: center;
            text-align: center;
        }

        #doNot {
            position: absolute;
            animation: einblendung-schrift 1s;
            font-size: calc(var(--d) / 7);
            font-family: "Arial Black", Gadget, sans-serif;
            font-kerning: 2.5;
            margin-top: calc(-1 * var(--d)*0.81);
            margin-left: calc(var(--d) * 0.2);
            opacity: var(--text-opacity);
            color: white
        }

        #enter {
            position: absolute;
            animation: einblendung-schrift 1s;
            font-size: calc(var(--d) / 7);
            font-family: "Arial Black", Gadget, sans-serif;
            font-kerning: 2.5;
            margin-top: calc(var(--lower-offset) + var(--d) * var(--mouth-size) * var(--lower) * 0.9);
            margin-left: calc(var(--d) * 0.23);
            opacity: var(--text-opacity);
            color: white
        }

        .eyes {
            display: none;
        }

        .eyes-open {
            animation: anim-open-eyes 0.4s;
            display: block;
        }

        .eyes-close {
            animation: anim-close-eyes 0.7s ease-in;
            display: block;
        }

        .eyes-twinkle {
            animation: anim-eyes-twinkle 5.0s ease-in;
        }

        #eyeLeft {
            position: absolute;
            width: var(--eyes-width);
            height: calc(var(--d) * 0.1 * var(--eye-size));
            margin-left: var(--eyeLeftX);
            margin-top: var(--eyesY);
            border-radius: calc(var(--d) * 0.1) / calc(var(--d) * 0.16);
            opacity: var(--face-opacity);
            background-color: white
        }

        #eyeRight {
            position: absolute;
            width: var(--eyes-width);
            height: calc(var(--d) * 0.1 * var(--eye-size));
            margin-left: var(--eyeRightX);
            margin-top: var(--eyesY);
            border-radius: calc(var(--d) * 0.1) / calc(var(--d) * 0.16);
            opacity: var(--face-opacity);
            background-color: white
        }

        #pupilleLeft {
            position: absolute;
            width: var(--pup-d);
            height: var(--pup-d);
            border-radius: var(--pup-d);
            margin-left: var(--pupLeftX);
            margin-top: var(--pupY);
            background-color: black
        }

        #pupilleRight {
            position: absolute;
            width: var(--pup-d);
            height: var(--pup-d);
            border-radius: var(--pup-d);
            margin-left: var(--pupRightX);
            margin-top: var(--pupY);
            background-color: black
        }

        #buttonPassby {
            position: absolute;
            /*            animation: anim-small 2.0s;   */
            width: var(--small-icon);
            height: var(--small-icon);
            border-radius: calc(var(--small-icon)*0.5);
            margin-top: calc(var(--small-icon) * (-1));
            background-color: lightsteelblue
        }

        #buttonPassby:hover {
            animation: anim-smaller 3.0s ease-in;
            animation-direction: normal;
            background-color: mediumblue
        }

        #buttonPassby:not(:hover) {
            animation: anim-smaller 5s ease-in;
            animation-direction: reverse
        }

        #buttonPause2 {
            position: absolute;
            animation: anim-small 1.8s;
            width: var(--small-icon);
            height: var(--small-icon);
            border-radius: calc(var(--small-icon)*0.5);
            margin-top: calc(var(--small-icon) * (-1));
            margin-left: calc(var(--d) - var(--small-icon));
            background-color: #feedba
        }

        #buttonPause2:hover {
            animation: anim-smaller 5.0s ease-in;
            background-color: burlywood
        }

        #buttonUnavoid {
            position: absolute;
            animation: anim-small 1.6s;
            width: var(--small-icon);
            height: var(--small-icon);
            border-radius: calc(var(--small-icon)*0.5);
            margin-top: calc((var(--d))*(-1));
            margin-left: calc(var(--d) - var(--small-icon));
            background-color: pink
        }

        #buttonUnavoid:hover {
            animation: anim-smaller 5s ease-in;
            background-color: red
        }

        #toucharea {
            position: absolute;
            margin-top: calc(var(--d)*(-1));
            width: var(--d);
            height: var(--d);
            border-radius: calc(var(--small-icon)*0.5);
            opacity: 0.5;
        }

        .dropdown-menu {
            min-width: 30px !important;
        }
